                   @import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
                   html {
                       scroll-behavior: smooth;
                   }
                   
                   * {
                       padding: 0;
                       margin: 0;
                       box-sizing: border-box;
                   }
                   
                   .navbar {
                       opacity: 0.6;
                   }
                   
                   .nav-link {
                       font-size: 1rem;
                       font-weight: 700;
                       cursor: pointer;
                       text-decoration: none;
                   }
                   
                   .nav-link:hover {
                       color: white;
                       background-color: black;
                   }
                   
                   .navbar-brand {
                       font-size: 1.25rem;
                       font-weight: 800;
                       color: black;
                       cursor: pointer;
                       text-decoration: none;
                   }
                   
                   h1 {
                       font-size: 3rem;
                       font-weight: 900;
                   }
                   
                   .progress {
                       background-color: rgb(240, 218, 218);
                       justify-content: flex-start;
                       align-items: center;
                       position: relative;
                       display: flex;
                       height: 100px;
                       width: 100%;
                   }
                   
                   .pro-value1 {
                       animation: load1 7s normal forwards;
                       border-radius: 50px;
                       background: rgb(3, 7, 8);
                       background: linear-gradient(90deg, rgba(3, 7, 8, 1) 0%, rgba(12, 46, 46, 1) 100%);
                       height: 45px;
                       width: 0px
                   }
                   
                   .progress p {
                       color: whitesmoke;
                       padding: 12px;
                   }
                   
                   .pro-value2 {
                       animation: load2 7s normal forwards;
                       border-radius: 50px;
                       background: rgb(3, 7, 8);
                       background: linear-gradient(90deg, rgba(3, 7, 8, 1) 0%, rgba(12, 46, 46, 1) 100%);
                       height: 45px;
                       width: 0px
                   }
                   
                   .pro-value3 {
                       animation: load3 7s normal forwards;
                       border-radius: 50px;
                       background: rgb(3, 7, 8);
                       background: linear-gradient(90deg, rgba(3, 7, 8, 1) 0%, rgba(12, 46, 46, 1) 100%);
                       height: 45px;
                       width: 0px
                   }
                   
                   @keyframes load1 {
                       0% {
                           width: 0;
                       }
                       100% {
                           width: 100%;
                       }
                   }
                   
                   @keyframes load2 {
                       0% {
                           width: 0;
                       }
                       100% {
                           width: 100%;
                       }
                   }
                   
                   @keyframes load3 {
                       0% {
                           width: 0;
                       }
                       100% {
                           width: 100%;
                       }
                   }
                   
                   .about {
                       color: black;
                   }
                   
                   .about .btn {
                       border: none;
                       background-color: rgb(233, 36, 102);
                       color: rgba(255, 255, 255, 0.966);
                       border-radius: 4px;
                   }
                   
                   .about .btn:hover {
                       background: rgb(2, 0, 36);
                       background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(110, 12, 122, 0.7455357142857143) 30%, rgba(0, 212, 255, 1) 100%);
                       transition: 10.0s;
                   }
                   
                   .card {
                       border: none;
                       outline: none;
                       box-shadow: 17px 17px 12px -1px rgba(69, 40, 40, 0.75);
                       -webkit-box-shadow: 17px 17px 12px -1px rgba(69, 40, 40, 0.75);
                       -moz-box-shadow: 17px 17px 12px -1px rgba(69, 40, 40, 0.75);
                   }
                   
                   .services {
                       color: black;
                   }
                   
                   .card p {
                       color: gray;
                   }
                   
                   .circle {
                       height: 70px;
                       width: 70px;
                       background-color: lightgray;
                       color: black;
                       padding: 12px;
                       border-radius: 50%;
                       font-size: 30px;
                       margin-bottom: 20px;
                   }
                   
                   .card:hover .circle {
                       color: wheat;
                       background-color: black;
                       transition: 0.5s;
                   }
                   
                   .control ul li {
                       list-style: none;
                       background-color: black;
                       padding: 5px 15px;
                       color: white;
                       display: inline-block;
                       cursor: pointer;
                       letter-spacing: 2px;
                   }
                   
                   .clients {
                       color: rgb(0, 0, 0);
                       overflow-x: hidden;
                       background-repeat: no-repeat;
                   }
                   
                   .card-0 {
                       background-color: rgb(196, 194, 183);
                       box-shadow: 0px 4px 8px 0px #BDBDBD
                   }
                   
                   .profile-pic {
                       height: 13vh;
                       width: 100px !important;
                       border-radius: 50%;
                   }
                   
                   .Gallery {
                       color: black;
                   }
                   
                   .owl-carousel .owl-nav button.owl-next,
                   .owl-carousel .owl-nav button.owl-prev {
                       background: 0 0;
                       color: #1E88E5 !important;
                       border: none;
                       padding: 5px 20px !important;
                       font: inherit;
                       font-size: 50px !important
                   }
                   
                   .owl-carousel .owl-nav button.owl-next:hover,
                   .owl-carousel .owl-nav button.owl-prev:hover {
                       color: #0D47A1 !important;
                       background-color: transparent !important
                   }
                   
                   .owl-dots {
                       display: none
                   }
                   
                   button:focus {
                       -moz-box-shadow: none !important;
                       -webkit-box-shadow: none !important;
                       box-shadow: none !important;
                       outline-width: 0
                   }
                   
                   .item {
                       display: none
                   }
                   
                   .next {
                       display: block !important;
                       position: relative;
                       transform: scale(0.8);
                       transition-duration: 0.3s;
                       opacity: 0.6
                   }
                   
                   .prev {
                       display: block !important;
                       position: relative;
                       transform: scale(0.8);
                       transition-duration: 0.3s;
                       opacity: 0.6
                   }
                   
                   .item.show {
                       display: block;
                       transition-duration: 0.4s
                   }
                   
                   @media screen and (width: 809px) {
                       .next,
                       .prev {
                           transform: scale(1);
                           opacity: 1
                       }
                       .item {
                           display: block !important
                       }
                   }
                   
                   .Gallery img {
                       display: block;
                       width: auto;
                       height: auto;
                   }